<!DOCTYPE html>
{% extends 'base0.html' %}

{% block title %}Deaths per Day (Morocco){% endblock title %}


{% block content %}
<div id="container" style="width: 75%;">
   <canvas id="myChart" ></canvas>
</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for item in qs %}'{{item.date}}',{% endfor %}],
        datasets: [{
            label: ' of Tests per Day',
            data: [{% for item in qs %}{{item.testsD}},{% endfor %}],
            backgroundColor: [
            'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'Green'
            ],
            borderWidth: 3
        }]
    },

    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}
